<ol>
  <li ng-repeat='item in fiDirctrl.items.found'>
    <h4>
      ( {{item.short_name}} ) {{item.name}}
      <!--wrong <button type="button" name="button" ng-click="onRemove($index);">     -->
      <!--working <button type="button" name="button" ng-click="items.removeItem($index);"> -->
      <!--working <button type="button" name="button" ng-click="onRemove({index: $index});"> -->
      <button type="button" name="button" ng-click="fiDirctrl.onRemove({index: $index});">
        Don't want this one!
      </button>
    </h4>
    <h4>{{item.description}}</h4>

  </li>
</ol>

<div class="error" ng-if="fiDirctrl.items.found.length == 0 && fiDirctrl.items.showItem">
  Nothing found!
</div>
